// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colors BoolBnB

$white: #ffffff;
$anti-flash-white: #f1f2f6;
$city-lights: #dfe4ea;
$twinkle-blue: #ced6e0;
$peace: #a4b0be;
$bay-wharf: #747d8c;
$grisaille: #57606f;
$prestige-blue: #2f3542;
$coral: #ff7f50;
$bruschetta: #ff6348;
$wild-watermelon: #ff6b81;
$watermelon: #ff4757;
$sky-blue: #70a1ff;
$sky: #5352ed;
$clear-chill: #1e90ff;
$bright-greek: #3742fa;
$sand: #eccc68;
$orange-2: #ffa502;
$lime-soap: #7bed9f;
$ufo-green: #2ed573;