#principale {
    width: clac(100vw - 200);
    background-color: $city-lights;

    .card-header{
        background-color: $prestige-blue;
        height: 50px;
    }

    .card-body{
        height: 100px;
        p {
            font-weight: 500;
            color: #57606F;
        }
    }
    

    .card {
        position: relative;
        // min-width: 600px;
        background-color: rgb(248, 248, 248);
        border-radius: 5px;
        box-shadow: 0px 0px 18px gray;
        transition: width 1s, height 1s;
        margin: 0 auto;
        
        a {
            text-decoration: none;
        }

        &:hover {
            background-color: white;
        }
        
        img{
            width: 40%;
            height: 91%;
            margin: 15px 0 15px 0;
            float: left;
            object-fit: cover;
        }

        .my-btn {
            width: 50px;
            margin-bottom: 5px;
            margin-top: 5px;

            i {
                font-size: 22px;
            }
        }
        
        h3{
            margin-top: 15px;
            color: $prestige-blue;
            font-weight: 800;
            max-height: 30px;
            overflow:hidden;
        }
        
        h4 {
            color: $grisaille;
        }
        
        h5 {
            color: $grisaille;
            font-size: 15px;
        }

        p {
            width: 100%;
            height: 110px;
            overflow: auto;
        }
    }

    .bruschetta {
        color: white;
       background-color: $bruschetta;
    }
}
    