// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// homepage
@import './homepage.scss';

// header 
@import './header.scss';

// dashboard
@import './dashboard.scss';

// lista appartamenti / admin
@import './admin_index.scss';

// utilities 
@import './_utilities';

// show 
@import './show';

// sponsor 
@import './sponsor';

// message
@import './messages.scss';

// footer 
@import './footer.scss';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import './edit.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}