header {
    // position: fixed;
    height: 60px;
    background-color: $prestige-blue;
    background-position: center;
    color: $white;
    z-index: 10;

    #logo {
        width: 100px;
        height: 100%;

        img {
            width: 150px;
            height: 150%;
            object-fit: cover;
            object-position:center;
        }
    }

    .input-right a{
        font-size: 18px;
        color: $white;

        .loged {
            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }

        a {
            // list-style: none;

        }
    }
}