// Messages Inbox 
#messages {
    min-height: 500px;

    .msg-box {
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0px 0px 3px;

        .app-name {
            color: $grisaille;
        }

        .msg-icon {
            font-size: 40px;

            i {
                color: $grisaille;
                position: relative;

                .msg-counter {
                    position: absolute;
                    top: -2px;
                    right: -6px;
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    background-color: $watermelon;
                    color: $white;
                    border-radius: 50%;
                }
            }
        }
    }
}

// Messages single apartment 

#single-apartment {
    min-height: calc(100vh - 420px);

    .single-msg {
        position: relative;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0px 0px 3px;

        .guest-name {
            color: $prestige-blue;
            font-size: 28px;
        }

        .guest-email {
            color: $bay-wharf;
        }

        .guest-msg {
            color: $grisaille;
        }

        button {
            position: absolute;
            top: 10px;
            right: 20px;
            background-color: $white;
            border: none;

            i {
                color: $bruschetta;
            }
        }

        .show-msg {
            position: absolute;
            right: 20px;
            bottom: 10px;
            cursor: pointer;
            color: $prestige-blue;
        }
    }

    // case no msg 
    .no-msg {
        border-radius: 5px;
        box-shadow: 0px 0px 3px;
        background-color: $white;

        img {
            width: 30%;
        }

        .info {
            color: $prestige-blue;
        }
    }

}