
#search-container{
    height: 100vh;

    .dataUi_container{
        height: 100%;
        width: 100%;

        .apartments-container{
            height: 100%;
            width: 100%;

            ul{
                height: 100%;
                overflow: auto;
                list-style: none;

                li{
                    background-color: white;
                }
            }
        }

        img{
            object-fit: cover;
            width: 100%;
        }
    }

}