#show_container{
    h3{
        color: black;
    }

    li{
        list-style: none;
    }

    .services-list{
        margin: 0;

        li span{
            margin: 5px 5px;
            display: inline-block;
            color: white;
            padding: 5px 10px;
            background-color: $bruschetta;
            border-radius: 100px;
        }
    }
    .my-img {
        width: 725px;
    }
}