h2 {
    color: $grisaille;
}

.sponsor{
    width: calc(100%/5 - 60px);
    min-width: 200px;
    margin: 30px;

    .card-body {
        background-color: $prestige-blue;
        text-align: center;
        
        .btn-hover {
            width: 150px;
            font-size: 16px;
            font-weight: 600;
            color: $white;
            cursor: pointer;
            margin: 20px;
            height: 55px;
            text-align:center;
            border: none;
            background-size: 300% 100%;
        
            border-radius: 50px;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

            &:hover {
                background-position: 100% 0;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }
            &:focus {
                outline: none;
            }
        }
    }

    .Gold {
        height: 70vh;
        box-shadow: 0px 0px 20px $gold;
        h2 {
            color: $gold;
        }

        .btn-detail {
            background-image: linear-gradient(to right, $anti-flash-white, $twinkle-blue, $sand, $gold);
            &:hover {
                box-shadow: 0 4px 15px 0 $sand;
            }
        }
    }

    .Silver {
        height: 65vh;
        box-shadow: 0px 0px 20px $silver;
        h2 {
            color: $silver;
        }

        .btn-detail {
            background-image: linear-gradient(to right, $anti-flash-white, $twinkle-blue, $silver, $bay-wharf);
            &:hover {
                box-shadow: 0 4px 15px 0 $silver;
            }
        }
    }

    .Bronze {
        height: 60vh;
        box-shadow: 0px 0px 20px $bronze;
        h2 {
            color: $bronze;
        }

        .btn-detail {
            background-image: linear-gradient(to right, $anti-flash-white, $twinkle-blue, $bronze, $orange-2);
        }
    }
}